@page "/"
@inject IndexViewModel ViewModel

<h1>Volumne: @ViewModel.CurrentVolume %</h1>

<MatCheckbox @bind-Checked="ViewModel.IsMuted">
</MatCheckbox>

<MatSlider ValueMin="ViewModel.MinVolume" 
           ValueMax="ViewModel.MaxVolume" 
           Discrete="true" 
           @bind-Value="ViewModel.CurrentVolume" 
           @bind-Value:event="ViewModel.CurrentVolumeChanged"
           Disabled="ViewModel.IsMuted">
</MatSlider>

@code {
}